.mainpage {
  width: 100%;
  position: relative;
}

.view {
  padding-top: 70px;
  width: 100%;
  height: 100vh;
  background: #e2e1eefb;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/*---------------------------------- start Modal section ----------- */

/*-------------------------------- end modal section --------------------*/
.fistContent {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.HT {
  color: #444343;
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 10px;
}
.Para {
  color: #444343;
  font-size: 16px;
  padding-right: 10px;
}
.graphic {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .view {
    flex-direction: column-reverse;
    height: 130vh;
  }
  .fistContent {
    width: 100%;
  }
}

.Service {
  width: 100%;
  height: 80vh;
  background: #f7ffff6e;
}
.serviceText {
  margin: 10px 0 10px 0;
  width: 100%;
  font-size: 30px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chooseNetwork {
  color: #444343;
  font-size: 30px;
}
.AllNetwork {
  width: 100%;
  background: #ffffff;
  /* height: 100%; */
  display: flex;
  justify-content: center;
}
.fastline,
.scoundline,
.thardline {
  width: 33%;
  height: 400px;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  padding: 5px 5px 5px 10px;
  width: 80%;
  height: 60px;
  background: #eeeaf7;
  margin-top: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  color: #5e5d5d;
  font-weight: 500;
  box-shadow: 2px 5px 10px gray;
}
.box:hover {
  background-color: #a2a0a3;
}
@media screen and (max-width: 750px) {
  .Service {
    height: 160vh;
  }
  .AllNetwork {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fastline,
  .scoundline,
  .thardline {
    height: 290px;
    width: 100%;
  }
  .box {
    margin-top: 10px;
    height: 60px;
  }
}
.AboutUs {
  width: 100%;
  height: 90vh;
  background: #f0efef;
}
.TextSection {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3 {
  font-size: 30px;
  color: #5e5d5d;
  text-align: center;
  padding: 5px;
}
.Paraabout {
  color: #444343;
  padding: 10px;
}
.aboutCover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.imageSection {
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .aboutCover {
    flex-direction: column;
  }
  .TextSection {
    width: 100%;
  }
  .AboutUs {
    height: 120vh;
  }
}
.Footer {
  width: 100%;
  height: 20vh;
  background: #f0edf1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.privace {
  color: #3f3030;
  padding: 10px;
}
.copyright {
  padding: 10px;
  color: #706c6c;
}
